<style>
#warningGradientOuterBarG{
height:20px;
width:160px;
border:1px solid #000000;
overflow:hidden;
background-color:#FFFFFF;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#000000));
background: -moz-linear-gradient(top, #FFFFFF, #000000);
background: -webkit-linear-gradient(top, #FFFFFF, #000000);
background: -ms-linear-gradient(top, #FFFFFF, #000000);
background: -o-linear-gradient(top, #FFFFFF, #000000);
background: linear-gradient(top, #FFFFFF, #000000);
}

.warningGradientBarLineG{
background-color:#FFFFFF;
float:left;
width:14px;
height:120px;
margin-right:24px;
margin-top:-28px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.warningGradientAnimationG{
width:236px;
-moz-animation-name:warningGradientAnimationG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:warningGradientAnimationG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:warningGradientAnimationG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:warningGradientAnimationG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:warningGradientAnimationG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#warningGradientFrontBarG{
}

@-moz-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-webkit-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-ms-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@-o-keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

@keyframes warningGradientAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-38px;
}

}

</style>
<div id="warningGradientOuterBarG">
<div id="warningGradientFrontBarG" class="warningGradientAnimationG">
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
</div>
</div>
/*- See more at: http://cssload.net/#sthash.GGeL6fLY.dpuf*/